@import './variables.less';

#skills {
  .flex-centered-atDirection(column);
  min-height: 100vh;
  text-align: center;
  background-color: @main-bg-color;
  width: 100%;
  color: black;
  padding-top: 40px;
  overflow: hidden;

  h2 {
    display: block;
    width: 50%;
    font-size: 2.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;

  }

  .skills_container {
    .flex-centered-atDirection(column);
    height: 100%;

    article {
      height: 15rem;
      width: 90%;
      border-radius: 5%;
      overflow: hidden;
      margin: 1rem auto;
      box-shadow: 0px 0px 13px 0px #ff000083;
    }

    .list-container {
      .flex-centered-atDirection(column);
      height: 100%;
      width: 100%;
      background-color: #1f1f1fbb;

      h3 {
        color: white;
        font-size: 1.8rem;

        padding-bottom: 0.5rem;
      }
    }

    .front {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('../assets/front.jpg');
      transition: all 0.8s;
      transform: translateX(-100vw);
      opacity: 0;
    }

    .back {
      background-image: url('../assets/back.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: all 1s;
      transform: translateX(100vw);
      opacity: 0;
    }

    .activeSlide2 {
      transform: translateX(0);
      opacity: 1;
    }

    li,
    p {
      display: inline-block;
      padding: 0.5rem;
      color: white
    }

    li {
      min-height: 2.5rem;
      transition: all 0.8s;


    }
  }
}

//FOR WIDER THAN 765PX WINDOWS
@media screen and (min-width: 765px) {
  #skills {
    padding-top: 0;

    h2 {
      padding: 2rem;
    }

    .skills_container {
      width: 90%;
      padding-top: 2rem;

      article {
        width: 20rem;
        height: 20rem;
      }

      li,
      p {
        display: block;
      }
    }
  }
}

//FOR WIDER THAN 1024PX WINDOWS
@media screen and (min-width: 1024px) {
  #skills {
    .skills_container {
      padding: 0.5rem 0 0 0;
      width: 100%;
      min-height: 100%;
      .flex-centered-atDirection(row);
      align-items: stretch;
      .flex-centered-atDirection(row);

      article {
        width: 100%;
        height: 80vh;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
      }

      .front {
        clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%, 0 8%);
      }

      .back {
        clip-path: polygon(100% 0, 100% 92%, 92% 100%, 0 100%, 0 0);
      }
    }
  }
}