@font-color-dark: black;
@hover-color2: #ff0000c5;
@heading-color: #da0404;
@dark-grey: #080808;
@main-bg-color: #f7f8f9;
@soft-white: #f7f8f9;
@navbar-bg: #242424;
@title-bg: rgba(255, 255, 255, 0.801);
@text-shadow: rgba(255, 0, 0, 0.548);
@nav-icon: #2e2d2d;

@more-heading-color: #008181;
@more-bg: #f1f1f1;
@more-text-color: #080808;

.flex-centered-atDirection(@direction) {
  display: flex;
  flex-direction: @direction;
  justify-content: center;
  align-items: center;
}

@project-img-overlay2: rgba(0, 0, 0, 0.65);
@project-img-overlay: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));